*.o
*.mod
*.a
*.out
*.in
*.dat
*LATTE_*
*.cfg
*.xyz
*mylastLATTEcalc
*out
*.lmp
in.*
*.tmp
log.*
log.*
*.pdb
*.gcda
*.gcno
./tests/run_test_lmp.sh

./Restarts/restartMD.last.dat
./bl/inputblock.dat
./tests/timer_cpu_time
